[Desktop Entry]
Name=Douban FM
Name[zh_CN]=豆瓣FM
Exec=douban-fm
Icon=douban-fm.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Color=#FFF

